$colorBlack: #1f2022;
$colorStroke: #d8e0ea;
$colorWhite: #fff;
$colorSecond: #54657a;
$colorMain: #0e3b65;
$colorTextMain: #417ab0;
$colorButtonDefault: #417ab0;
$colorButtonDefaultLight: #417ab05c;
$colorBackgroundMain: #417ab0;
$colorText: #406f9b;
$colorTextMuted: #a1a5b7;
$colorSecondary: #2f80ed;
$colorMainDisable: #67baf6;
$colorBg: #f6f7f9;
$colorDefault: #253036;
$colorGrey: #e8edf2;
$colorDone: #39cd74;
$colorOrange: #f2994a;
$colorRed: #f54b5e;
$colorPurple: #9b51e0;
$colorMellowGreen: #4bb6d8;
$colorGreen: #2ebb7b;
$colorSideBarBg: #253036;
$colorPink: #f32998;
$colorHeaderBg: white;
$colorPending: #b3bac5;
$colorApproved: #0080dd;
$colorShipped: #39cd74;
$colorReturned: #f2994a;
$colorCanceled: #f54b5e;
$brandColor: #fa9e2e;
$colorScroll: #c0c4cc;
$colorMainDropShip: #00DDC6;
$backgoundAdmin: #253036;
$colorTextLoginAdmin: #fff;
$colorGray: #c5b3b7;
$colorScroll: #c0c4cc;
$colorHr: #eee;
$colorTitle: rgb(7, 55, 99);
$colorLilac: #815cc3;
$backgroundLilac: #c4b5de52;
$borderLilac: #c4b5de;
$colorOrigin: #141423;
$textTitle: #0f2e5f;
$colorMain5s: #c81d31;
$activeMenu: #457db2;
$hoverMenu: #457db24d;
$colorFITA: #0E75BC;
$colorBackgroundLogin: #F3F8FF;
$colorBorder: #e8ecfb;
$colorGoogle: #EA4335;
$colorMicrosoft: #00A1F1;
//text
$colorText1: #000000;
$colorText2: #83878a;
$colorText3: #21273d;
$colorText4: #121212;
$colorText5: #454545;
$colorText6: #949597;
$colorText7: #B1B1B1;
$colorText8: #8f8f8f;
$colorRed2: #FF715D;
